@keyframes spinit {
    from {
        transform: rotate(0deg) scale(1.4);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateit {
    from {
        transform: rotate(0deg) scale(1.4);
    }

    to {
        transform: rotate(360deg);
    }
}