blockquote.info {
    border: 0.2rem solid #3e8ed0;
    background-color: #eff5fb;
    color: #296fa8;
    font-size: .9rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

blockquote.success {
    border: 0.2rem solid #48c78e;
    background-color: #effaf5;
    color: #257953;
    font-size: .9rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

blockquote.danger {
    border: 0.2rem solid #f14668;
    background-color: #feecf0;
    color: #cc0f35;
    font-size: .9rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
