<template>
    <div>
        <ul>
            <li v-for="(item, index) in filteredList" :key="index" class="event-container">
                <div class="event-date text-center">
                    <EventDate :dString="item.start_date" />
                </div>
                <div class="event-date event-end-date text-center">
                    <EventDate :dString="item.end_date" />
                </div>
                <div class="event-details">
                    <h3>{{item.name}}</h3>
                    <div class="cards dark-grey">
                        <div class="card text-center">
                            <i class="fa fa-2x" :class="attending(item.attending)" :title="attendingStr(item.attending, item.start_date)"/> 
                            <br/>
                            <span v-html="attendingStr(item.attending, item.start_date)"></span>
                        </div>
                        <div class="card text-center">
                            <i class="fa fa-2x" :class="speaking(item.speaking, item.start_date)" ::title="speakingStr(item.speaking, item.start_date)"/>
                            <br/>
                            <span v-html="speakingStr(item.speaking, item.start_date)"></span>
                        </div>
                    </div> 
                </div>
            </li>
        </ul>
    </div>
</template>

<style scoped>
.event-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.event-date {
    flex: 18%;
}

.event-details {
    flex: 64%;
    margin-left: 3em;
}

.event-green {
    color: #4CAF50;
}

.event-red {
    color: rgb(255, 87, 34);
}

.event-purple {
    color: rgb(103, 58, 183);
}

.dark-grey {
    color: rgb(96, 125, 139);
}

@media (max-width: 719px) {
    .event-date {
        flex: 36%
    }

    .event-end-date {
        display: none;
    }

    .event-details {
        margin-left: .5em;
    }
}
</style>

<script>
export default {
    name: 'TaskList',
    props: {
        events: {
            type: Array,
            default: []
        },
        future: Boolean,
    },
    methods: {
        attending(attending) {
            switch (attending) {
                case 'yes':
                    return 'fa-check-circle event-green';
                case 'no':
                    return 'fa-times-circle event-red'
                default:
                    return 'fa-question-circle';
            }
        },
        attendingStr(attending, start) {
            switch (attending) {
                case 'yes':
                    return (this.isFuture(start) ? 'Attending!' : 'Attended');
                case 'no':
                    return (this.isFuture(start) ? 'Not Attending' : 'Didn\'t attend');
                default:
                    return (this.isFuture(start) ? 'Maybe Attending' : 'Didn\'t attend');
            }
        },
        speaking(speaking, start) {
            switch (speaking) {
                case 'yes':
                    return 'fa-microphone-alt event-purple';
                case 'no':
                    return 'fa-microphone-alt-slash';
                case 'submitted':
                    return (this.isFuture(start) ? 'fa-address-card' : 'fa-microphone-alt-slash');
                default:
                    return 'fa-microphone-alt-slash';
            }
        },
        speakingStr(speaking, start) {
            switch (speaking) {
                case 'yes':
                    return (this.isFuture(start) ? 'Speaking' : 'Spoke');
                case 'no':
                    return (this.isFuture(start) ? 'Not Speaking' : 'Didn\'t speak');
                case 'submitted':
                    return (this.isFuture(start) ? 'Submitted' : 'Did\'t speak')
                default:
                    return (this.isFuture(start) ? 'Not Speaking' : 'Didn\'t speak');
            }
        },
        isFuture(start) {
            const now = new Date();
            const event = Date.parse(start);
            return event > now.getTime()
        }
    },
    computed: {
        filteredList() {
            if (this.events) {
                const d = new Date()
                return this.events.filter(e => (this.future ? Date.parse(e.start_date) > d : Date.parse(e.start_date) < d))
            }
        }
    }
}
</script>