<template>
<div class="cards">
    <div class="card">
        <h4>Tough &amp; Competent</h4>
        <p>
         <strong>Tough</strong> means we are accountable to our customers. We take responsibility for our software and our service, and always internalize any issue that arises.
        </p>
        <p>
        <strong>Competent</strong> means we are always learning, always improving. We will not let small victories put us on our heels, but instead will use those victories as a launch pad to tackle harder problems.
        </p>
    </div>
    <div class="card">
        <h4>Service before Self</h4>
        <p>
         We are here to serve our customers. Software is our job, not our customer's. We will treat every interaction with the same selfless servant leadership that we would want to be treated with.
        </p>
        <p>
        Hire adults and treat people like adults...that is just table stakes. If it's not a good fit, then the answer isn't more process and procedure, the answer is it isn't a good fit. 
        </p>
    </div>
    <div class="card">
        <h4>Convention over Configuration</h4>
        <p>
        Avoid configuration wherever possible. You don't want to build ten great things that get strung together with complicated glue - you want to build an iPhone where it all just works. Every configuration option adds complexity, which makes things harder to use, develop, support, and less friendly. 
        </p>
        <p>
        Make features that are configurable is lazy. Make sensible defaults where you must have a configuration. Great UX is not giving everything that someone wants to them - it's giving them what they need. 
        </p>
        <p>
        If you had asked people what they wanted for transportation in 1900, they would have said a faster horse. Henry Ford avoided configuration whenever possible. 
        </p>
    </div>
    <div class="card">
        <h4>Minimum Viable Change (MVC)</h4>
        <p>
        Always look to make the quickest change possible to improve the user's outcome. If you validate that the change adds more value than what is there now, then do it. No need to wait for something more robust. 
        </p>
        <p>
        Make small merge requests, review them quickly, and merge them early and often. Follow the <a href="https://www.youtube.com/watch?v=InKNIvky2KE">GitLab Flow</a>. Test hypotheses and celebrate when your assumptions were wrong. Have a bias for action, be ambitious, fail fast, don't wait for consensus. Without that, there is no way to innovate. 
        </p>
    </div>
</div>
</template>

<script>
export default {
    name: 'ValuesList'
}
</script>